{%extends "base.html"%}
{% load staticfiles %}
{%	block titulo %}
Lista de Cuentadantes

{% endblock%}

{%   block contenido %}
<div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Lista de Cuentadantes
            </div>
            <div class="card-body">
              <div class="btn_agregar">
                <a href="{% url 'agregar_cuentadante'%}" class="btn btn-secondary" id="agregar">Agregar Cuentadante</a>
              </div>
              <div class="table-responsive">
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>nombre</th>
                      <th>identificacion </th>
                      <th></th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>nombre</th>
                      <th>identificacion </th>
                      <th></th>
                    </tr>
                  </tfoot>
                  <tbody>
                 	{% for p in lista %}
                 		<tr>
                 			<td>{{p.nombre}}</td>
                 			<td>{{p.identificacion}}</td>
                 			<td>
                        <a href="{% url 'editarr_cuentadante' id_cue=p.id %}" class="btn btn-sm">
                          <img src="{% static "imagenes/iconos/pencil-2x.png" %}">
                        </a>

                        <a href="{% url 'eliminarr_cuentadante' id_cue=p.id %}" class="btn btn-sm">
                           <img src="{% static "imagenes/iconos/trash-2x.png" %}">
                        </a>
                      </td>
                 		</tr>
                 		{% empty %}
          						<tr>
          							<td colspan="4">
          								No hay Datos Registrados
          							</td>
          						</tr>
                 	{% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted"></div>
    </div>
    
{%	endblock %}
